<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prude</title>
    <script src="static/js/axios.js"></script>
    <script src="static/js/app.js"></script>
</head>
<body>
<ul>
{% for schema in schemas %}
    <li><a href="/tables/{{ schema }}">{{ schema }}</a><span>
    {% if tables %}
        <ul>
            {% for table in tables %}
                <li><a href="/columns/{{ table }}/{{ schema }}">{{ table }}</a>
                {%  if columns %}
                    <ul>
                    {% for col in columns %}
                        <li>{{ col[0] }} {{ col[1] }}
                        {%  endfor %}
                {% endif %}
            {% endfor %}
    {% endif %}
{% endfor %}
</ul>
<div id="dumpbox"></div>
</body>
</html>