<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prude</title>
    <script src="/static/js/axios.js"></script>
    <script src="/static/js/app.js"></script>
</head>
<body>
<ul>
{% for schema in schemas %}
    <li><a href="/explore/{{ schema }}/tables">{{ schema }}</a><span>
    {% if tables and schema == focussed_schema%}
        <ul>
            {% for table in tables %}
                <li><a href="/explore/{{ schema }}/{{ table }}/columns">{{ table }}</a>
                {%  if columns and table == focussed_table %}
                    {{ items }} items
                    <ul>
                    {% for col in columns %}
                        <li>{{ col[0] }} {{ col[1] }}
                    {%  endfor %}
                </ul>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
{% endfor %}
</ul>
<div id="dumpbox"></div>
</body>
</html>