{% extends "layout.html" %}
{% block content %}
    <main class="govuk-main-wrapper" id="main-content" role="main">
        <div class="govuk-grid-row" style="overflow-x: auto;">
            <div class="govuk-grid-column-full">
                <h2 class="govuk-heading-m govuk-!-margin-top-8">Tables</h2>
                <table class="govuk-table">
                    <thead>
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header">Schema: {{ focussed_schema }}</th>
                        <th class="govuk-table__header">Action</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for table in tables %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                                {{ table }}
                            </td>
                            <td class="govuk-table__cell"><a class="govuk-link" href="/explore/{{ focussed_schema }}/{{ table }}/columns">View
                                columns</a></td>
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</div>
{% endblock %}